* {
    -fx-top-color: #33333A;
    -fx-bottom-color: #37373E;
    -fx-font-color: #FFFFFF;
    -fx-font-size: 16px;
}

/* MAIN PANES */
.root {
    -fx-background-color: -fx-bottom-color;
}
.split-pane {
    -fx-background-color: -fx-bottom-color;
}

/* MENU BAR */
.menu-bar {
    -fx-background-color: -fx-top-color;
}
.menu-bar .label {
    -fx-text-fill: -fx-font-color;
}

/* CONTEXT MENUS*/
.context-menu { /*https://stackoverflow.com/questions/12299162/how-to-style-menu-button-and-menu-items*/
    -fx-background-color: -fx-top-color;
}
.context-menu .label {
    -fx-text-fill: -fx-font-color;
}

/* TABLE VIEWS */
.table-view {
    -fx-background-color: -fx-bottom-color;
}
.table-view .placeholder .label { /*No content in the table text*/
    -fx-text-fill: -fx-font-color;
}

.table-column {
    -fx-background-color: -fx-bottom-color;
    -fx-text-fill: -fx-font-color;
}
.table-column .label {
    -fx-text-fill: -fx-font-color;
}

/* This styles the grid lines between cells */
.table-row-cell {
    /* -fx-border-color: #555555; */
    -fx-table-cell-border-color: -fx-bottom-color; 
}
.table-row-cell:selected .table-cell { /*https://stackoverflow.com/questions/29857596/javafx-tableview-change-selected-cell-colour*/
    -fx-background-color: #555566;
    -fx-table-cell-border-color: #555566; 
    -fx-text-fill: -fx-font-color;
}
/* .table-row-cell:filled:hover {
    -fx-background-color: #444455;
    -fx-text-fill: -fx-font-color;
}
.table-row-cell:filled:focused {
    -fx-background-color: #555566;
    -fx-text-fill: -fx-font-color;
} */
/* This styles the grid lines between columns */
/* .table-view *.column-resize-line {
    -fx-background-color: #555555; 
} */